<!DOCTYPE html>
<html>
  <head>
    <title>Chanmio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d9ac1d092f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= link_to meals_path do %>
          <%= image_tag 'rogo.2.png', class:"logo-image" %>
        <% end %>
      <div class="log">
        <%= link_to new_meal_path, class:'link', method: :get do %>
          <i class="fa-solid fa-paper-plane fa-2x "style="color:#f7f4f2;"></i>
          <span class="log2">新規投稿</span>
        <% end %>
      </div>
    <div class="hito">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id), class:'link', method: :get do %>
            <i class="fa-solid fa-user fa-2x "style="color:#f7f4f2;"></i>
            <span class="log3">マイページ</span>  
          <% end %>
    </div>
        <% else %>
            </div>
 
          <%= link_to user_session_path, class:'link', method: :get do %>
            <i class="fa-solid fa-right-to-bracket fa-2x "style="color:#f7f4f2;" ></i>
            <span class="log4">ログイン</span>    
          <% end %>
        <% end %>
    </header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

    <%= yield %>
    </body>
</html>
